.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  color: rgb(135, 135, 135);
  padding: 16px;
  margin: 30px auto;
  border-radius: 5px;
}

.Weather {
  padding: 30px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather h1 {
  font-size: 34px;
  font-weight: 100;
  margin: 20px 0 10px 0;
  line-height: 29px;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 64px;
  font-size: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  line-height: 1;
}

@media (max-width: 800px) {
  .Weather .temperature {
    color: #212121;
    font-size: 54px;
    font-weight: 400;
    line-height: 66px;
    position: relative;
    left: -22px;
  }

  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 19px;
    font-weight: 400;
    position: relative;
    top: -63px;
    line-height: 1;
    right: -39px;
  }

  .Weather img {
    height: 64px;
    width: 99px;
    margin-right: 10px;
    display: inline-block;
    margin-left: -20px;
  }

  .w-100 {
    width: 136% !important;
  }

  .Footer {
    font-size: 15px;
    margin: -18px 13px;
  }

  .description2 {
    padding-left: 25px;
    font-size: 100px;
  }

  .description1 {
    padding-left: 17px;
  }
}
